html {
	font: 100 14px Roboto;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
body {
	background: url(images/background.jpg) center bottom;
}
div.name {
	color: #444;
	margin: 30px 0 10px;
	font-size: 66px;
	font-style: italic;
	text-align: center;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}
div.name a {
	color: inherit;
	text-decoration: none;
}
div.name a:hover {
	text-decoration: underline;
}
div.icons {
	text-align: center;
}
a.icon-container {
	background: #4962d6;
	border-radius: 96px;
	*display: inline;
	display: inline-block;
	margin: 0 8px;
	padding: 14px;
	*zoom: 1;
}
a.icon-container:hover {
	background: #6f81d6;
}
div.icon {
	height: 96px;
	width: 96px;
}
div.icon.github {
	background-image: url(images/github.png);
}
div.icon.googleplus {
	background-image: url(images/googleplus.png);
}
div.icon.linkedin {
	background-image: url(images/linkedin.png);
}
div.icon.stackoverflow {
	background-image: url(images/stackoverflow.png);
}